In [ ]:
TUPLE

In [3]:
mytuple=("sapota","orange","guava")
print(mytuple)
print(type(tuple))

('sapota', 'orange', 'guava')
<class 'type'>

In [5]:
mylist1=["sapota","orange","guava"]
print(mylist1)
print(type(mylist1))

['sapota', 'orange', 'guava']
<class 'list'>

In [13]:
a=(3,4,5,6)
b=list(a)
b.append(55)
print(b)
a=tuple(b)
a

[3, 4, 5, 6, 55]

(3, 4, 5, 6, 55)

In [15]:
t=(6,3,8,8,983)
k=list(t)
k.append(90)
print(k)
t=tuple(k)
t

[6, 3, 8, 8, 983, 90]

(6, 3, 8, 8, 983, 90)

In [27]:
t=(6,3,8,8,983)
h=(2,56)
list1=list(k)
list2=list(h)
print(list(t)+list(h))

[6, 3, 8, 8, 983, 2, 56]

In [29]:
k=(1,32,5,870,90)
r=list(k)
r.append(67)
r.append(349)
print(r)
k=tuple(r)
k

[1, 32, 5, 870, 90, 67, 349]

(1, 32, 5, 870, 90, 67, 349)

In [31]:
mytuple = ("apple", "banana", "cherry","hello")
print(mytuple[2:])

('cherry', 'hello')

In [33]:
y = ("apple", "hi", "cherry","hello")
print(y[:3])

('apple', 'hi', 'cherry')

In [35]:
x = ("apple", "banana", "cherry")
y = list(x)
y[2] = "kiwi"
x = tuple(y)
print(x)

('apple', 'banana', 'kiwi')

In [37]:
mytuple = ("apple", "banana", "cherry","hello")
h=list(mytuple)
h[3]="jack"
print(h)
mytuple=tuple(h)

['apple', 'banana', 'cherry', 'jack']

In [43]:
hello = ("apple", "banana", "cherry")

(a,b,c) = hello

print(a)
print(b)
print(c)

apple
banana
cherry

In [45]:
hello = ("apple", "banana", "cherry")

(a,b,c) = hello

print(a)
print(c)

apple
cherry

In [49]:
veg = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic,yellow) = veg

print(green)
print(tropic)
print(yellow)

apple
['mango', 'papaya', 'pineapple']
cherry

In [55]:
j = (1, 3,8, 7, 5, 4, 6, 8, 5)
x = j.index(7)
print(x)

3