In [1]:
myset = {"apple", "banana", "cherry", False, True, 1,0,5,9,90,8,90}
myset

{5, 8, 9, 90, False, True, 'apple', 'banana', 'cherry'}

In [3]:
print(len(myset))

9

In [7]:
a={1,1,2,2,2,2,3,4,4,66,77}
a

{1, 2, 3, 4, 66, 77}

In [9]:
mylist=[1,2,2,2,3,34,34,454]
myset=set(mylist)
myset

{1, 2, 3, 34, 454}

In [11]:
myset = {"apple", "banana", "cherry"}
myset.add(4)
print(myset)

{'banana', 4, 'cherry', 'apple'}

In [13]:
myset = {"apple", "banana", "cherry"}
myset1 = {"jack", "mango", "hi"}
myset.update(myset1)
print(myset)

{'mango', 'banana', 'hi', 'cherry', 'apple', 'jack'}

In [17]:
myset = {"apple", "banana", "cherry"}
myset.remove("apple")
print(myset)

{'banana', 'cherry'}

In [19]:
myset = {"apple", "banana", "cherry"}
myset.discard("apple")
print(myset)

{'banana', 'cherry'}

In [ ]:
myset = { "banana","apple",0,"hji",8.0}
print(myset)
x = myset.pop()
print(x)
print(myset)