In [1]:
set1 = {"apple", "banana", "orange",1}
set2 = {1, 2, 3,"apple",6,8,"banana"}
set3= set1.union(set2)
print(set3)

{1, 'banana', 3, 2, 6, 8, 'apple', 'orange'}

In [3]:
set1 = {"apple", "banana", "orange",1}
set2 = {1, 2, 3,"apple",6,8,"banana"}
set3= set1|set2
set3

{1, 2, 3, 6, 8, 'apple', 'banana', 'orange'}

In [5]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}
myset= set1.union(set2,set3,set4)
myset

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [7]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}
myset= set1|set2|set3|set4
myset

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [9]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3= set1.intersection(set2)
set3

{'apple'}

In [11]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.intersection(set2)
print(result)
print(set1)

{3, 4}
{1, 2, 3, 4}

In [13]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set3 = set1 & set2
set3

{3, 4}

In [15]:
set1 = {"apple", "banana", "cherry","microsoft"}
set2 = {"google", "microsoft", "apple"}
set3=set1.intersection(set2)
print(set3)
print(set1)
set1.intersection_update(set2)
print(set1)

{'microsoft', 'apple'}
{'banana', 'cherry', 'microsoft', 'apple'}
{'microsoft', 'apple'}

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [19]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2.difference(set1)

print(set3)

{'google', 'microsoft'}

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3= set1 - set2
print(set3)
set3 = set2 - set1
print(set3)

{'banana', 'cherry'}
{'google', 'microsoft'}

In [23]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [25]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [27]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3= set1 ^ set2
set3

{'banana', 'cherry', 'google', 'microsoft'}

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
set1

{'banana', 'cherry', 'google', 'microsoft'}